@import "../../styles/mixins.scss";

.wrapper {
  padding-bottom: 105px;
  background-color: $widgetColor;
  padding: 20px;
  // border-radius: $borderRadius 10px 0 0;
  min-height: 50vh;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  // border-top: 1px solid rgb(46, 46, 46);
  background-color: $widgetColor;
  border-radius: $borderRadius;
  margin-bottom: 0;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
