@import "../../styles/mixins.scss";

.wrapper {
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $widgetColor;
  min-height: 93vh;

  @include large {
    overflow: hidden;
    margin: 10px 10px 10px 0px;
  }
}

.footer {
  // border-top: 1px solid rgb(46, 46, 46);
  background-color: $widgetColor;
  // border-radius: $borderRadius;
  margin-bottom: 0px;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
