@import "../../styles/mixins.scss";

.dj-page {
  h1 {
    margin-left: 10px;
    z-index: 5;
  }
}

.dj-header {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column-reverse;
}

.tracks {
  position: relative;

  h3 {
    font-size: 30px;

    @include large {
      font-size: 40px;
    }
  }
}
