@import "../../styles/mixins.scss";

.dj-page {
  h1 {
    margin-left: 10px;
    z-index: 5;
  }
}

.dj-header {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 50px;
}

.tracks {
  margin: 10px;
  h2 {
    margin-left: 10px;
  }
  @include large {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    &__promo {
      width: 70%;

      &:first-child {
        width: 29%;
      }
    }
  }

  &__promo {
    border: 1px solid rgb(21, 21, 21);
    background-color: $widget;
    border-radius: 10px;
    padding: 15px;

    h2 {
      margin-left: 10px;
      text-align: left;
      text-transform: uppercase;
    }

    @include large {
      width: 65%;

      &:first-child {
        width: 34%;
      }
    }
  }

  &__row-promo {
    flex-wrap: wrap;
    padding: 10px;
    // background-color: rgb(20, 20, 20);
    // border-radius: 10px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr;

    padding: 5px;
    border-radius: 5px;

    // grid-auto-rows: 515px;
    row-gap: 10px;
    // column-gap: 5px;
    margin: 5px;
    flex-wrap: wrap;
  }
}
