@import "../../styles/mixins.scss";

.hero {
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 35px;

  @include large {
    border-radius: 10px;
  }

  h1 {
    text-shadow: 1px 0px 9px rgba(0, 0, 0, 0.9);
    font-size: 50px;

    @include large {
      text-align: left;
      margin-left: 25px;
    }
  }

  @include large {
    height: 450px;
    // background-size: 1000px;
  }

  > div {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid white;
  }

  &__home {
    background-image: url("../../imgs/heroImg.jpeg") !important;
  }
  &__discover {
    background-image: url("../../imgs/discover.png") !important;
  }
}
