@import "../../../styles/mixins.scss";

.swiper-carousel {
  @include large {
    border-radius: 10px;
  }
}

.hero {
  // margin: 10px 0;
  box-sizing: border-box;
  height: 650px;
  display: flex;
  margin: auto;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  width: 100%;
  background-color: black;

  @include large {
    border-radius: 10px;
  }

  // border-radius: 10px;

  h1 {
    width: 100%;
    // height: 50px;
  }
}

@media (min-width: 500px) {
  // .dj-square {
  //   flex: 0 1 calc(50% - 10px);
  //   margin: 5px;
  //   min-height: 250px;
  // }
}

@media (min-width: 1000px) {
  // .dj-square {
  //   flex: 0 1 calc(25% - 10px);
  //   min-height: 250px;
  // }
}
