@import "../../styles/mixins.scss";

.radio {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 1 1 0px;
  width: 100%;
  justify-content: space-around;

  @include large {
    justify-content: initial;
    width: initial;
    border-top-right-radius: 10px;
    background: rgba(6, 6, 6, 0.8);
  }

  &__toggle {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 10px;
    font-weight: 700;

    @include large {
      border-radius: $borderRaidus;
      padding: 20px;
    }
  }

  &__active {
    color: black !important;
    background-color: white !important;
  }
}
