.play {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: none;
  transition: 0.2s all;
  // background-color: rgba(0, 0, 0, 0.95);
  background-color: rgb(17 17 17);

  svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

  &__abso {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
