@import "../../../styles/mixins.scss";

.tracks-wrapper {
  // border: 1px solid rgb(21, 21, 21);
  background-color: rgb(7, 7, 7);
  border-radius: 10px;
  // padding: 10px 15px;
  background-color: black;

  // @include large {
  //   padding: 20px 35px;
  // }

  h2 {
    margin-left: 10px;
  }

  &__active {
    color: white !important;
    // border-bottom: 4px solid rgb(1, 1, 106) !important;
  }

  &__toggles {
    padding: 20px 5px;
    button {
      text-transform: uppercase;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-size: 24px;
      margin-right: 30px;
      font-weight: 700;
      color: grey;
      padding: 0;
    }
  }
}
