@import "../../../styles/mixins.scss";

.dj-square {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  border-radius: 10px;
  height: $squareHeightS;
  // aspect-ratio: 19/5;
  // aspect-ratio: 12 / 19;

  @include medium {
    height: $squareHeightM;
  }
  @include large {
    height: $squareHeightL;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}

.label {
  text-align: left;
  margin-bottom: 20px;
  p,
  a {
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 1px 0px 9px rgba(0, 0, 0, 0.9);
  }
}
