@import "../../../styles/mixins.scss";

.dj-square {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  border-radius: 10px;
  height: $squareHeightS;

  @include medium {
    height: $squareHeightM;
  }
  @include large {
    height: $squareHeightL;
  }

  &:hover {
    button {
      opacity: 1;
    }
  }
}

.label {
  text-align: left;
  margin-bottom: 20px;
  p,
  a {
    font-family: "Lato";
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}
