@import "../../styles/mixins.scss";

.carousel {
  margin-bottom: 20px;

  font-size: 14px;

  @include large {
    font-size: 16px;
  }

  &__text {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 10px 20px;

    h2 {
      text-transform: capitalize;
      margin: 0;
    }

    a {
      margin: auto 0;
      font-size: 16px;
      text-decoration: underline;
    }
  }

  &__inner {
    display: flex;
    overflow-x: auto;
    max-width: 100%;
    gap: 20px;
    // scroll-snap-type: x proximity;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    flex: 0 0 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    scroll-snap-align: start; /* Ensure snap alignment is applied to each item */

    @include large {
      flex: 0 0 225px;
    }

    &:first-child {
      margin-left: 15px;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  height: 256px;
}
