@import "../../styles/mixins.scss";

.carousel {
  background-color: $widgetColor;
  padding: 20px 0;
  border-radius: $borderRadius;

  h1 {
    margin-top: 0;
    margin-left: 30px;
  }

  @include large {
    // margin: 30px 0;
  }

  &__inner {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: inline-flex;
    gap: 15px;
    overflow: scroll;
    display: flex;

    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    padding-left: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  height: 256px;
}
