@import "../../../styles/mixins.scss";

.auth-widget {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;

  button {
    all: unset;
    border-radius: 10px;
    padding: 10px;
    border: $borderOne;
    background-color: black;
    margin-bottom: 15px;

    background-color: rgb(5, 11, 23);
    text-align: center;
    margin: 20px auto;
    width: 200px;
  }
}
