@import "../../styles/mixins.scss";

.track-grid {
  min-height: 250px;

  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;

  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;

  // border: $borderOne;
  border-radius: $borderRadius;

  &__element {
    aspect-ratio: 1/1;
    background-color: $widgetColor;
    border-radius: $borderRadius;
  }

  @include medium {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include large {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
}
