@import "../../styles/mixins.scss";

.following {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s forwards ease-in-out;
  padding: 20px;

  grid-template-columns: repeat(3, 1fr);

  @include large {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  @include xl {
    grid-template-columns: repeat(6, 1fr);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
