.track-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;

  &__text {
    display: flex;
    flex-direction: column;

    p {
      margin: 5px;
    }
  }

  &__artist {
    color: rgb(192, 192, 192);
  }

  &__buttons {
    display: flex;
    button {
      height: 100%;
      margin: 0 10px;
    }
  }

  &__naming {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
      border-radius: 10px;
    }
  }

  &__artwork {
    width: 100px;
    height: 100px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
