@import "../../styles/mixins.scss";

.hero {
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: row;
  background-size: cover;
  // background-position: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-bottom: 5px solid rgba(54, 38, 118, 0.502);
  margin-bottom: 35px;
  border-radius: 10px;
  text-transform: uppercase;

  h1 {
    text-shadow: 1px 0px 9px rgba(0, 0, 0, 0.9);
  }

  @include large {
    height: 450px;
    // background-size: 1000px;
  }

  > div {
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid white;
  }

  &__home {
    background-image: url("../../imgs/heroImg.jpeg") !important;
  }
  &__discover {
    background-image: url("../../imgs/discover.png") !important;
  }
}
