@import "../../styles/mixins.scss";

.hero {
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 400px;

  @include large {
    margin-left: 20px;
    flex-direction: row;
    height: 400px;
  }

  &__gradient {
    position: absolute;
    z-index: 0;
    height: 45%;
    width: 100%;
    background: rgba(243, 51, 102, 1);
    background: conic-gradient(
      from 315deg,
      rgba(243, 51, 102, 1),
      rgba(46, 138, 101, 1)
    );

    @include large {
      height: 100%;
    }
  }

  img {
    margin-top: 50px;
    z-index: 1;
    aspect-ratio: 1/1;
    width: 50%;
    object-fit: cover;
    border-radius: 50%;
    // border: 4px solid yellow;

    // background: linear-gradient(white, white) padding-box,
    //   linear-gradient(to right, rgb(139, 0, 16), rgb(73, 50, 204)) border-box;
    // border-radius: 50em;
    // border: 4px solid transparent;
    border: 1px solid white;

    @include large {
      width: 250px;
      // position: absolute;
      // right: 45%;
      // padding: 10px;
      // width: 25%;
    }
  }

  &__text {
    text-align: center;
    width: 100%;
    // background-color: black;
    padding: 20px;

    @include large {
      text-align: left;
      // margin-left: 20px;
      margin-top: 0px;

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: end;
    }

    h1 {
      text-shadow: 1px 0px 9px rgba(0, 0, 0, 0.9);
      width: auto;
      z-index: 3;
      display: inline-block;
      font-size: 50px;
      text-transform: uppercase;
      margin: 0;
      // margin-top: -30px;
    }

    p {
      margin: 0;
      z-index: 3;
    }
  }

  button {
    background-color: rgb(220, 220, 220);
    border: 1px solid white;
    border-radius: 50px;
    text-align: center;
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 150px;
    text-align: center;
    margin: 10px auto;
  }
}
