@import "../../styles/mixins.scss";

.hero {
  position: relative;
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: row;
  background-size: cover;
  // background-position: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-bottom: 5px solid rgba(54, 38, 118, 0.502);
  margin-bottom: 35px;
  text-transform: uppercase;

  box-shadow: $boxShadow;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  // border: 1px solid #28282a;

  h1 {
    text-shadow: 1px 0px 9px rgba(0, 0, 0, 0.9);
  }

  @include large {
    height: 60vh;
    // border-radius: 10px;

    margin: 0px 10px 35px;
    // background-size: 1000px;
  }

  &__home {
    background-image: url("../../imgs/heroImg.jpeg") !important;
  }
  &__discover {
    background-image: url("../../imgs/discover.png") !important;
  }
}

// .hero-gradient {
//   // background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//   animation: gradient 20s ease infinite;
// }

.hero-gradient {
  background: linear-gradient(-45deg, #5b3b6d, #7f3968, #5b3b6d, #090923);
  background-size: 500% 500%;

  -webkit-animation: Hero 27s ease infinite;
  -moz-animation: Hero 27s ease infinite;
  animation: Hero 27s ease infinite;
}

@-webkit-keyframes Hero {
  0% {
    background-position: 66% 0%;
  }
  50% {
    background-position: 35% 100%;
  }
  100% {
    background-position: 66% 0%;
  }
}
@-moz-keyframes Hero {
  0% {
    background-position: 66% 0%;
  }
  50% {
    background-position: 35% 100%;
  }
  100% {
    background-position: 66% 0%;
  }
}
@keyframes Hero {
  0% {
    background-position: 66% 0%;
  }
  50% {
    background-position: 35% 100%;
  }
  100% {
    background-position: 66% 0%;
  }
}
