@import "../styles/mixins.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
  max-width: 100%;

  @include large {
    background-color: black;
  }
}

h1 {
  font-family: var(--font-raleway);
}

.wrapper {
  max-width: 1600px;

  @include xl {
    margin: 0 auto;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;

  @include large {
    margin: 10px 10px 0 0px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: auto;
}

h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

p,
label {
  color: #f3f3f4;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.side-bar {
  display: flex;
  flex-direction: column;

  @include large {
    display: grid;
    grid-template-columns: 225px calc(100% - 235px);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
  }
}

.rm-audio-player,
.rm-audio-player-provider,
.interface-grid {
  padding: 0 !important;
}

.spectrum--medium_9e130c {
  --rm-audio-player-interface-container: transparent !important;
  background-color: transparent !important;
  height: 100%;
  position: relative !important;
}

.overlay {
  display: none;
  background: rgb(20, 20, 20);
  background: radial-gradient(
    circle,
    rgba(20, 20, 20, 0.3660057773109243) 0%,
    rgba(20, 20, 20, 1) 100%
  );

  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.page-title {
  text-align: left;
  margin-left: 20px;
  font-size: 10vw;

  @include large {
    font-size: 65px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  input:not([type="radio"]) {
    background-color: transparent;
    border: 1px solid grey;
    padding: 15px;
    color: rgba(225, 225, 225, 0.1);
    font-size: 16px;
    font-weight: 500;
    border-radius: $borderRadius;
    margin: 5px auto 10px;
    width: 100%;
    color: white;

    &::placeholder {
      color: rgb(188, 188, 188);
      opacity: 1;
    }

    &[type="submit"] {
      background-color: #6e54b5;
      border: 1px solid #6e54b5;
      color: white;
      cursor: pointer;
      padding: 20px;
      text-align: center;
      margin: 10px auto;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 30px;
    }
  }
}

.flash-once {
  border: 1px solid transparent; /* Initial border color */
  animation: borderFlashTwice 1s ease-in-out; /* Apply animation */
}

@keyframes borderFlashTwice {
  0% {
    border-color: #374151;
  }
  50% {
    border-color: white;
  }
  100% {
    border-color: #374151;
  }
}

ul li:has(input:checked) {
  border: 1px solid white;
  // background-color: #6e54b5;
}

ul li {
  border: 1px solid transparent;
}

//glass

// @include large {
//   .glass-common {
//     background-color: rgba(0, 0, 0, 0.04);
//     backdrop-filter: blur(10px);
//     -webkit-backdrop-filter: blur(10px);
//   }

//   .glass- {
//     @extend .glass-common;
//     background-image: linear-gradient(
//       74deg,
//       rgba(255, 255, 255, 0.04) 17%,
//       rgba(0, 0, 0, 0.04) 91%
//     ) !important;
//   }

//   .glass-2 {
//     @extend .glass-common;
//     background-image: linear-gradient(
//       111deg,
//       rgba(0, 0, 0, 0.04) 30%,
//       rgba(255, 255, 255, 0.04) 70%
//     ) !important;
//   }

//   .glass-3 {
//     @extend .glass-common;
//     background-image: linear-gradient(
//       44deg,
//       rgba(255, 255, 255, 0.04) 25%,
//       rgba(0, 0, 0, 0.04) 75%
//     ) !important;
//   }

//   .glass-4 {
//     @extend .glass-common;
//     background-image: linear-gradient(
//       160deg,
//       rgba(0, 0, 0, 0.04) 35%,
//       rgba(255, 255, 255, 0.04) 65%
//     ) !important;
//   }

//   .glass-5 {
//     @extend .glass-common;
//     background-image: linear-gradient(
//       92deg,
//       rgba(255, 255, 255, 0.04) 15%,
//       rgba(0, 0, 0, 0.04) 85%
//     ) !important;
//   }
// }

//Carousel
.carousel {
}

.flex-pixels {
  flex: 0 0 150px;

  @include large {
    flex: 0 0 225px;
  }
}

.scroll-snap-start {
  scroll-snap-align: start;
}
