@import "../styles/mixins.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
  max-width: 100%;

  background-color: black;
}

h1 {
  font-family: var(--font-raleway);
}

.wrapper {
  max-width: 1600px;

  @include xl {
    margin: 0 auto;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;

  @include large {
    margin: 10px 10px 0 0px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: auto;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.side-bar {
  display: flex;
  flex-direction: column;

  @include large {
    display: grid;
    grid-template-columns: 225px calc(100% - 235px);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px;
  }
}

.rm-audio-player,
.rm-audio-player-provider,
.interface-grid {
  padding: 0 !important;
}

.spectrum--medium_9e130c {
  --rm-audio-player-interface-container: transparent !important;
  background-color: transparent !important;
  height: 100%;
  position: relative !important;
}

.form {
  input:not([type="radio"]) {
    background-color: transparent;
    border: 1px solid grey;
    padding: 15px;
    color: rgba(225, 225, 225, 0.1);
    font-size: 16px;
    font-weight: 500;
    border-radius: $borderRadius;
    margin: 5px auto 10px;
    width: 100%;
    color: white;

    &::placeholder {
      color: rgb(188, 188, 188);
      opacity: 1;
    }

    &[type="submit"] {
      background-color: #6e54b5;
      border: 1px solid #6e54b5;
      color: white;
      cursor: pointer;
      padding: 20px;
      text-align: center;
      margin: 10px auto;
      font-weight: 600;
      border-radius: 10px;
      margin-top: 20px;
    }
  }
}

.flex-pixels {
  flex: 0 0 150px;

  @include large {
    flex: 0 0 225px;
  }
}

.login_page {
  background: linear-gradient(-45deg, #240046, #5a189a, #9d4edd, #4895ef);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}
