@import "../styles/mixins.scss";

.home {
}

.label-carousel {
  position: relative;
  // padding: 10px;

  h3 {
    // margin-left: 10px;

    @include large {
      position: absolute;
      transform: rotate(-90deg);

      bottom: 95px;
      left: -85px;
      font-size: 50px;
    }
  }
  &__box {
    @include large {
      margin-left: 100px;
    }
  }
}

.promo {
  width: 100%;
  text-align: left;
  color: grey;
  margin-left: 10px;
  font-size: 20px;

  @include large {
    margin-left: 100px;
  }

  a {
    margin: 0;
    font-weight: bold;
    transition: 0.2s all;
    font-size: 50px;

    @include large {
      font-size: 75px;
    }

    &:hover {
      color: white;

      svg {
        &:hover {
          filter: invert(100%) sepia(90%) saturate(0%) hue-rotate(278deg)
            brightness(109%) contrast(113%);
        }
      }
    }

    svg {
      width: 60px;
      line-height: 75px;
      color: grey;
      vertical-align: bottom;
      margin-left: -20px;
    }
  }
}
