@import "../../styles/mixins.scss";

.nav {
  width: 100%;
  top: 0;
  padding: 15px 10px;
  // background: rgb(0, 0, 0);
  width: 100%;
  max-width: 1600px;
  margin: auto;
  z-index: 5;
  width: 100%;
  overflow: hidden;

  &__sign-out {
    all: unset;
  }

  &__content {
    margin-left: 15px;
    display: flex;
    overflow: scroll;
    gap: 15px;

    @include small {
      width: 200px;
    }
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    line-height: 30px;

    p {
      margin: 0;
    }
  }

  a,
  button {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 35px;
    // border-bottom: 1px solid white;
    // border-radius: 10px;
    // padding: 3px;
  }
}
