@import "../../styles/mixins.scss";

.nav {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 15px 10px;
  // background: rgb(0, 0, 0);
  width: 100%;
  max-width: 1600px;
  margin: auto;
  z-index: 5;
  width: 100%;
  overflow: hidden;

  &__bar {
    display: flex;
    justify-content: space-between;

    svg {
      width: 35px;
      height: 35px;
      color: white;
    }

    p {
      margin: 0;
    }
  }

  a {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 35px;

    @include large {
      margin: 10px 12px;
    }

    // &:hover {
    //   border-bottom: 3px solid white;
    // }
  }
}

.nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  // background-image: url("https://img.freepik.com/free-vector/abstract-vector-colorful-mesh-dark-background-futuristic-style-card-elegant-background-business-presentations-corrupted-point-sphere-chaos-aesthetics_1217-5361.jpg?w=1800&t=st=1688813273~exp=1688813873~hmac=f5ee62e7665132fed7399f50c7fe8f20e2f4106e7d334ba106b0a090f6ae33aa");
  background-size: cover;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 6;
  font-size: 25px;

  svg {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 35px;
    height: 35px;
  }

  &__content-wrapper {
    max-width: 1600px;
    height: 100%;
    position: relative;
    width: 100%;
    margin: auto;
  }

  &__open {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  &__active {
    border-bottom: 3px solid #1580d2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    width: 80%;
    margin: auto;

    a {
      margin-bottom: 100px;
      text-transform: uppercase;
      border-bottom: 3px solid rgb(47, 47, 47);
      border-top: 3px solid rgb(47, 47, 47);
      padding: 50px 10px;
      font-size: 35px;
      background-color: rgba(255, 255, 255, 0.001);
    }
  }
}
