@import "../../styles/mixins.scss";

.hero {
  min-height: 350px;
  // display: flex;
  // margin: 50px 10px;
  background-color: rgb(17, 13, 31);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border-radius: 10px;
  background-image: url("./bg.jpg");
  // background: linear-gradient(to bottom, #7222bc, #4f0a80);
  background-image: radial-gradient(
    circle 311px at 8.6% 27.9%,
    rgba(62, 147, 252, 0.57) 12.9%,
    rgba(239, 183, 192, 0.44) 91.2%
  );
  @include large {
    margin: 49.5px 20px;
  }

  h1 {
    font-size: 6vw;
    white-space: pre-line;
    max-width: 1000px;
    margin: 10px;
    // margin: 10px auto;

    @include large {
      font-size: 50px;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10px;
  }

  &__button {
    width: 100px;
    border-bottom: 1px solid white;
    // border-radius: 50px;
    padding: 20px;
  }
}
