@import "../../../styles/mixins.scss";

.form {
  position: relative;
  margin: 25px auto 150px;
  text-align: left;
  background-color: $widgetColor;
  border-radius: $borderRaidus;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 20px;
  border: $borderOne;
  max-width: 400px;

  @include large {
    margin: 100px auto 150px;
  }

  h1 {
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  label {
    all: unset;
    border-radius: 10px;
    padding: 20px;
    border: $borderOne;
    background-color: black;
    margin-bottom: 15px;

    &[type="submit"] {
      background-color: $cta;
      text-align: center;
    }
  }
}
