@import "../../../styles/mixins.scss";

.form {
  position: relative;
  text-align: left;
  // background-color: $widgetColor;
  // border-radius: $borderRaidus;
  box-shadow: $boxShadow;
  display: flex;
  flex-direction: column;

  width: 80%;
  padding: 20px;
  // border: $borderOne;
  width: 80%;
  max-width: 375px;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include large {
    // margin: 100px auto 0;
  }

  &__load {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 99%;
    width: 99%;
    background-color: rgba(0, 0, 0, 0.87);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 45px;
  }

  &__show-load {
    opacity: 1;
    pointer-events: all;
  }

  h1,
  p {
    text-align: center;
  }

  p {
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  input,
  label {
    // all: unset;
    // border-radius: 10px;
    padding: 20px;
    border: $borderOne;
    background-color: black;
    margin-bottom: 20px;

    &[type="submit"] {
      background-color: $cta;
      text-align: center;
    }
  }
}
