@import "../../../styles/mixins.scss";

.form {
  position: relative;
  max-width: 800px;
  padding: 40px;
  margin: 50px auto;
  text-align: left;
  // background-color: $widget;
  border-radius: 10px;

  &__header {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
    }

    svg {
      width: 32px;
    }
  }
}
