@import "../../../styles/mixins.scss";

.track-container {
  padding: 20px;
  flex: 1;

  &__text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  h2 {
    text-transform: capitalize;
    padding-left: 10px;
  }

  h2,
  p {
    margin: 0;
  }
  p {
    margin-top: auto;
  }
}

.track-grid {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  flex-grow: 1;
  opacity: 0;
  animation: fadeIn 0.5s forwards ease-in-out;

  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  @include medium {
    grid-template-columns: 1fr 1fr;
  }

  @include large {
    grid-template-columns: repeat(4, 1fr);
  }
  @include xl {
    grid-template-columns: repeat(6, 1fr);
  }
}

.nothing {
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
