@import "../../../styles/mixins.scss";

.track-grid {
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  width: 100%;

  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;

  border-radius: $borderRadius;

  // background-color: rgb(27, 27, 27);

  @include medium {
    grid-template-columns: 1fr 1fr;
  }

  @include large {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
  @include xl {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
}
