@import "../../../../styles/mixins.scss";

.track-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 5px 0;
  border: $borderOne;
  border-radius: $borderRaidus;
  background-color: $widgetColor;
  padding: 10px;

  &__text {
    display: flex;
    flex-direction: column;

    p,
    a {
      margin: 5px;
    }
  }

  &__artist {
    color: rgb(192, 192, 192);
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    button {
      // height: 100%;
      margin: 0 10px;
      background-color: rgba(255, 255, 255, 0);
    }
  }

  &__naming {
    display: flex;
    align-items: center;
    img {
      margin-right: 10px;
      border-radius: 10px;
    }
  }

  &__artwork {
    width: 75px;
    height: 75px;

    @include medium {
      width: 100px;
      height: 100px;
    }
  }

  &:hover {
  }
}
