@import "../../styles/mixins.scss";

.artist {
  border-radius: $borderRadius;
  flex: 1;
  background: rgb(2, 72, 117);
  background: linear-gradient(
    185deg,
    rgba(2, 72, 117, 1) 0%,
    rgba(16, 16, 16, 1) 63%
  );
  flex-grow: 1;
}
