@import "../../styles/mixins.scss";

.filters {
  display: flex;
  gap: 10px;
  // margin-bottom: 25px;
  overflow: hidden;
  display: inline-flex;
  overflow: scroll;
  width: 100%;
  background-color: rgb(16, 16, 16);
  padding: 20px;
  padding-bottom: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  font-family: var(--font-raleway);

  &__active {
    // border-bottom: 1px solid white;
    background-color: $ctaActive !important;
    color: black !important;
  }

  a {
    flex: 0 0 auto;
    padding: 10px;
    min-width: 60px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: $borderRadius;
    background-color: $ctaDim;
  }
}
