@import "../../styles/mixins.scss";

.filters {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid rgb(46, 46, 46);
  margin-bottom: 25px;
  overflow: hidden;
  display: inline-flex;
  overflow: scroll;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  font-family: var(--font-raleway);

  &__active {
    border-bottom: 1px solid white;
  }

  a {
    flex: 0 0 auto;
    padding-bottom: 10px;
    // padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;

    @include large {
      font-size: 30px;
    }
  }
}
