@import "../../../styles/mixins.scss";

.edit-button {
  margin: 10px;
  font-size: 20px;
}

.profile {
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: $widgetColor;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: $borderOne;
  text-align: center;
  max-width: 200px;

  &__close {
    position: absolute;
    right: 3%;
    top: 3%;
    width: 10px;
  }

  p {
    margin: 0;
    overflow-wrap: break-word;
  }

  .upload-element {
    background-color: $widgetColor;
    border: 1px solid grey;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
  }

  input {
    &[type="submit"] {
      background-color: $ctaBright;
      border: 1px solid grey;
      cursor: pointer;
      border-radius: 10px;
      padding: 10px;
    }
  }

  .upload-button[type="file"] {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}
