@import "../../../styles/mixins.scss";

.hero {
  position: relative;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  background-image: url("/release1.jpg");
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
