// @import '../../styles/variables.scss';

.audio-widget {
  text-align: center;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  backdrop-filter: blur(30px);
  // border-radius: 10px;
  width: 100%;
  // max-width: 800px;
  margin: auto;
  transition: 0.2s all;
  background-color: black;

  & > div {
    max-width: 1600px;
    margin: auto;
  }

  a {
    margin: 10px 12px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__content {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}
.controls {
  display: flex;
  justify-content: space-between;
  width: 60%;

  input {
    width: 80%;
  }
}

.control-play {
  margin: auto;
  text-align: center;
}
