// @import '../../styles/variables.scss';

.audio-widget {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 10px 10px;
  background-color: #0000001e;
  backdrop-filter: blur(30px);
  border-radius: 20px;
  width: 800px;
  margin: 10px auto;
  border: 1px solid rgba(128, 128, 128, 0.211);

  a {
    margin: 10px 12px;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
      border-bottom: 3px solid white;
    }
  }

  &__active {
    border-bottom: 3px solid #1580d2;
  }

  // svg {
  //   color: white;
  //   font-size: 16px;
  //   margin: 0 12px;
  // }

  &__content {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}

.dice:hover {
  color: green;
}
