@import "../../../styles/mixins.scss";

.artist {
  min-height: 80vh;
  position: relative;

  svg {
    width: 50px;
  }
  &__hero {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 450px;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      15deg,
      rgba(0, 0, 0, 1) 25%,
      rgba(22, 19, 82, 1) 100%
    );
    margin-bottom: 0px;

    @include large {
      flex-direction: column-reverse;
      margin-bottom: $betweenElementsM;
      // border: 1px solid rgb(21, 21, 21);
      border-radius: 10px;
    }

    h1 {
      @include underLarge {
        margin-left: 20px;
      }

      @include large {
        text-align: center;
      }
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    object-fit: cover;
  }
  &__edit {
    position: absolute;
    right: 20px;
    bottom: 20px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
  &__upload {
    position: absolute;
    right: 80px;
    bottom: 20px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.cta {
  background-color: rgb(34, 34, 34);
  border: none;
  border-radius: 50%;
  padding: 10px;

  svg {
    width: 25px;
  }
}
