@import "../../../styles/mixins.scss";

.swiper-carousel {
  margin-bottom: 20px;
}

.swiper-slide {
  width: $squareWidthS !important;

  @include medium {
    width: $squareWidthM !important;
  }
  @include large {
    width: $squareWidthL !important;
  }
}
