//element styling
$borderRaidus: 10px;

//margin spacing
$betweenElementsM: 50px;
$betweenElementsD: 75px;

//Track square
$squareHeightS: 450px;
$squareHeightM: 525px;
$squareHeightL: 600px;

//Track square
$squareWidthS: 300px;
$squareWidthM: 375px;
$squareWidthL: 450px;

//colour square
$widget: rgb(15, 15, 41);

@mixin small {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin medium {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin underLarge {
  @media (max-width: 999px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 1000px) {
    @content;
  }
}
