//element styling
$borderRaidus: 10px;

//margin spacing
$betweenElementsM: 50px;
$betweenElementsD: 75px;

//Track square
$squareHeightS: 250px;
$squareHeightM: 350px;
$squareHeightL: 350px;

//Track square
$squareWidthS: 300px;
$squareWidthM: 300px;
$squareWidthL: 300px;

//colour square
$widgetColor: #161617;
// $widgetColor: #0707075d;

$boxShadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
$borderRaidus: 10px;
// $borderOne: 5px solid #28282a;
$borderOne: 3px solid #4d4d52;

$cta: #163e84;

@mixin small {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin medium {
  @media (max-width: 999px) and (min-width: 599px) {
    @content;
  }
}
@mixin large {
  @media (min-width: 1000px) {
    @content;
  }
}
@mixin xl {
  @media (min-width: 1600px) {
    @content;
  }
}
