@import "../../../styles/mixins.scss";

.upload-button[type="file"] {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.upload-form {
  &__toggle {
    display: flex;
    width: 100%;
    max-width: 450px;
    margin: 15px auto;
    white-space: nowrap;

    p {
      margin: 0px !important;
    }

    input {
      margin-left: 0 !important;
      width: initial !important;
    }
  }
}
