@import "../../styles/mixins.scss";

.track-list {
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
}

.tracks {
  position: relative;
  margin: 10px;

  h3 {
    margin-bottom: 10px;
    font-size: 30px;
    margin-left: 10px;
    @include large {
      font-size: 40px;
    }
  }

  &__squares {
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
    // padding: 10px;

    grid-template-columns: 1fr;

    @include medium {
      grid-template-columns: 1fr 1fr;
    }
    @include large {
      grid-template-columns: 1fr 1fr;
    }
  }
}
