.track-element {
  position: relative;
  //   border: 1px solid white;
  background-size: cover;
  min-height: 400px;
  width: 24%;
  // padding: 25px;
  box-sizing: border-box;

  transition: 0.2s all;

  &:hover {
    background-color: rgb(65, 65, 65);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.21);
    transform: scale(1.05);

    img {
      border-radius: 0%;
      padding: 10%;
    }
  }

  &__image {
    max-width: 100%;
    margin: auto;
    margin-top: 15%;

    img {
      border-radius: 10%;
      transition: 0.2s all;
    }
  }

  &__main {
    max-width: 200px;
  }
}
